body {
  background: url('../images/pozadina.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #f0f0f0;
}

.container {
  background: rgba(255,255,255,0.8);
  padding: 1rem;
  border-radius: 0.5rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  box-shadow: none !important;
}

